.Root {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.Mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: rgba(0, 0, 0, 0.65);

	cursor: pointer;
}

.Container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: auto;
	pointer-events: none;
}

.Wrapper {
  padding: 20px;
}

.Frame {
	width: 100%;
	max-width: 300px;

  background: #ffffff;

	pointer-events: all;
}
